*{

    margin:0 ;
    padding:0 ;
}
body{
background-color:rgb(174, 165, 187) ;
}
.detalis{

    margin:100px;
}
.pro{

    margin:50px ;
    width:400px ;
    height: 500px;
    color:white ;
    background: black;
}
button{

    margin: 300px;
    height: 100px;
    background: red;
}
button:hover{

    background: gold;
}