{% extends 'dashboard.html'%}

{% block content %}

<div class="container">
    <form action="" method="POST">
        {% csrf_token %}
    <div class="row">

        <input type="text" name="month">
        <h2>الشهر</h2>
    </div>
    <div class="row">

        <input type="text" name="year">
      <h2>السنة</h2>
    </div>
    <div class="row">
        <button class="btn-success"> عرض</button>
    </div>
</form>
</div>




<div class="container m-5 tb1-container">
    <div class="row tb1-fixed">
    
    <table class="table">
    <thead class="thead-warning">
        <tr>
           <th>رقم الفاتورة</th>
           <th>المبلغ</th>
           <th>التاريخ</th>
           <th>التوقيت</th>
           <th>الحركة</th>
         
        </tr>
        <tbody>
            <tr>
              
                {% for x in item %}

                <td>{{x.num_bill}}</td>
                <td>{{x.money}}</td>
                <td>{{x.date}}</td>
                <td>{{x.time}}</td>
                <td>{{x.direction}}</td>
            </tr>
            {% endfor %}
        </tbody>
       </table>
    </div>
</div>

{% endblock content %}