

{% extends 'dashboard.html'%}
{% block content%}
{%load static%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        .tb1-container{
            width:1400px ;
            height:1000px;
           
        }
        .tb1-fixed{
            overflow-x: scroll;
            overflow-y: scroll;
          
            max-width:1100px ;
            max-height:900px ;
           
        }
    </style>
    <title>Document </title>
</head>
<body>
    <div class="container m-5 tb1-container">
        <div class="row tb1-fixed">
        
        <table class="table">
        <thead class="thead-warning">
          <tr>
          
           <th>اسم الدواء</th>
           <th>الوحدة</th>
           <th>سعر</th>
           <th>العدد</th>
           <th>المبلغ</th>
            </tr>
            <thead>
        
                <tbody>
                    {% for i in item %}
                <tr>
                    <td>{{i.name_of_product}}
                    </td>
                    <td>{{i.unit_of_product}}</td>
        
                    <td>{{i.price_of_unit}}</td>
        
                    <td>{{i.num_of_units}}</td>
                    <td>{{i.price_all}}</td>
        
                </tr>
                {% endfor %}
            </thead>
        </tbody>
        </table>


        <div class="container bg-warning">

            <div class="row">
                <div class="col-lg-4">
              
                <h4>{{x.num_bill}}</h4>
            </div>
                <div class="col-lg-4">
          
                <h4>رقم القاتورة</h4>
            </div>
            </div>

            <div class="row">
                <div class="col-lg-4">
                <h4>{{x.name_of_customer}}</h4>
            </div>
                <div class="col-lg-4">
                <h4>اسم المشتري</h4>
            </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                <h4>{{x.allvalue_of_bill}}</h4>
            </div>
                <div class="col-lg-4">
                <h4>قيمة الفاتورة الكلية</h4>
            </div>
            </div>
            <div class="row">
        
                <div class="col-lg-4">
         
                <h4>{{x.allvalue_of_bill_after_tax}}</h4>
            </div>
                <div class="col-lg-4">
                <h4>قيمة الفاتورة بعد إضافة الضريبة</h4>
            </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                <h4>{{x.taken_money}}</h4>
            </div>
                <div class="col-lg-4">
                <h4>المبلغ المقبوض</h4>
            </div>
            </div>
            <div class="row">
             
                <div class="col-lg-4">
              
                <h4>{{x.will_taken_money}}</h4>
            </div>
                <div class="col-lg-4">
                <h4>المبلغ المتبقي</h4>
            </div>
            </div>
        <div class="row"> 
            <div class="col-lg-4">
            <h4>{{x.date_of_taken_money}}</h4>
        </div>
            <div class="col-lg-4">
            <h4>تاريخ السداد</h4>
        </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
            <h4>{{x.cuurency}}</h4>
        </div>
            <div class="col-lg-4">
    <h4>العملة</h4>
        </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
            <h4>{{x.date}}</h4>
        </div>
            <div class="col-lg-4">
            <h4>تاريخ الفاتورة</h4>
        </div>
        </div>
        </div>

        {% endblock content%}

    
</body>
</html>






